src/main/webapp/WEB-INF/wsdl/bcs-public-services.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.bcs.io/fileserver/api/services/open"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bcs-public-services"
	targetNamespace="http://www.bcs.io/fileserver/api/services/open"
	xmlns:types="http://www.bcs.io/fileserver/api/types/open"
	xmlns:global="http://www.bcs.io/global/types">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.bcs.io/global/types"
				schemaLocation="../xsd/global-types.xsd">
			</xsd:import>

			<xsd:import
				namespace="http://www.bcs.io/fileserver/api/types/open"
				schemaLocation="bcs-public-services.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="createFileRequest">
		<wsdl:part name="parameters" element="types:CreateFileRq"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="createFileResponse">
		<wsdl:part name="parameters" element="types:CreateFileRs"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="disposeFileRequest">
		<wsdl:part name="parameters" element="types:DisposeFileRq"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="disposeFileResponse">
		<wsdl:part name="parameters" element="types:DisposeFileRs"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="createFileFault">
		<wsdl:part name="parameters" element="global:ServiceFault"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="disposeFileFault">
		<wsdl:part name="parameters" element="global:ServiceFault"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="WSFileManagement">
		<wsdl:operation name="createFile">
			<wsdl:input message="tns:createFileRequest"></wsdl:input>
			<wsdl:output message="tns:createFileResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:createFileFault"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="disposeFile">
			<wsdl:input message="tns:disposeFileRequest"></wsdl:input>
			<wsdl:output message="tns:disposeFileResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:disposeFileFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="WSFileManagementBinding"
		type="tns:WSFileManagement">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createFile">

			<soap:operation
				soapAction="http://www.bcs.io/fileserver/api/services/open/createFile" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="disposeFile">

			<soap:operation
				soapAction="http://www.bcs.io/fileserver/api/services/open/disposeFile" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BCSPublicServicesEndpoint">
		<wsdl:port name="WSFileManagementPort"
			binding="tns:WSFileManagementBinding">
			<soap:address
				location="http://www.bcs.io/fileserver/api/public/WSFileManagement" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
